extends layout

block content
    header.header
        .badge settle
            span it
    .sub-header
       a.btn.btn--primary.btn--block Ask a question 
    .main
        .container
            h4.tiny-title Ongoing settlements
            .item
                .item__body
                    h4.item__title Does the owner of lot 5 have permission to install the signage as per pic attached? 
                    p
                        strong Sent to 8 clients | Expires in 24 days
                .bar
                    .bar__chunk
                        span.bar__count Yes (3)
                    .bar__chunk
                        span.bar__count No (3)
                    .bar__chunk
                        span.bar__count TBD (3)
            .item
                .item__body
                    h4.item__title Does the owner of lot 5 have permission to install the signage as per pic attached? 
                    p
                        strong Sent to 8 clients | Expires in 24 days
                .bar
                    .bar__chunk
                        span.bar__count Yes (3)
                    .bar__chunk
                        span.bar__count No (3)
                    .bar__chunk
                        span.bar__count TBD (3)
    .footer
        a.btn.btn--block(href="#") Create question
