extends layout

block content
    .main
        .container
            .confirm
                h1 Message sent!
                p Now just sit back and wait for your recipients to provide an answer. Everytime a recipient responds, you will receive an email. You will also get an email once all receipients have responded with the total outcome.
                p
                    a.btn(href="/admin") Send another
