extends layout

block content
  .centered
    h1.logo.flat Settled
    h2.tagline.flat Get the answers you need, faster!
    .actions
        a(href="/register").btn Register
    span Already signed up? 
        a(href="/login") Login
