extends layout

block content
    .landing
        .centered
            h1.badge.badge--large.flat settle
                span it
            .actions
                a(href="/admin").btn Settle something
