.btn
    display: inline-block
    appearance: none
    border-radius: 4px
    height: 44px
    line-height: 44px
    text-align: center
    text-decoration: none
    background: transparent
    border: 1px solid #fff
    font-size: 14px
    padding: 0 48px
    cursor: pointer

.btn--primary
    background: $blue
    color: #fff
    box-shadow: 0 2px 0 rgba(0,0,0,0.8)
    border: 0

.btn--block
    display: block
    width: 100%

