$blue = #4A90E2
$green = #9DDA5B
$red = #F75D5D

$bg = $blue

@import 'forms'
@import 'buttons'

*
    box-sizing: border-box

body
    font-size: 14px
    line-height: 1.5
    font-family: 'Roboto', sans-serif
    background: $bg
    color: #555

.landing
    background: $blue
    min-height: 100vh
    display: flex
    align-items: center
    justify-content: center

a
    color: #fff
    text-decoration: underline

.header
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    background-color: $blue

.sub-header
    background-color: darken($blue,5)
    padding: 12px

.badge
    color: #fff
    font-weight: bold
    font-size: 24px
    letter-spacing: -1px
    text-transform: lowercase
    text-decoration: none
    span
        color: rgba(255,255,255,0.5)

.badge--large
    font-size: 48px

.logo
    font-family: 'Montserrat'
    text-transform: lowercase
    font-weight: bold
    font-size: 50px
    letter-spacing: -4px
    text-shadow: 0 1px 1px rgba(0,0,0,0.4)

.tagline
    font-weight: 100
    color: #fff
    font-size: 32px

.flat
    margin: 0 !important

.centered
    text-align: center

.action__btn
    font-size: 16px
    font-weight: bold
    color: #fff
    text-decoration: none
    padding: 24px 0
    display: block
    text-shadow: 0 1px 0px rgba(0,0,0,0.4)

strong
    font-weight: 500

.container
    padding: 0 12px
    margin: 0 auto
    max-width: 500px

.card
    background-color: #fff
    border-radius: 4px
    box-shadow: 0 1px 2px rgba(0,0,0,0.4)
    overflow: hidden

.card__body
.card__slide
    padding: 24px
    position: relative

.card__hd
    background: #33567E
    color: #fff

.card__nav
    list-style: none
    margin: 0
    overflow: hidden
    li
        width: 33.333333333%
        float: left
    a
        text-align: center
        display: block
        padding: 12px 24px
        text-decoration: none
        background-color: rgba(0,0,0,0.05)
        color: rgba(255,255,255,0.25)
        font-size: 13px
        &.active
            background: #fff
            color: #333

.card__title
    font-size: 12px
    margin-bottom: 12px
    color: #bbb
    font-weight: bold
    text-transform: uppercase

.card__option
    border-bottom: 1px solid #ddd
    margin-bottom: 24px
    &:last-child
        border: 0
        margin: 0

.slides
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden

.slide
    position: absolute
    top: 0
    left: 100%
    width: 100%
    height: 100%
    &.active
        transform: translateX(-100%)

.slide__container
    min-width: 420px

.slide--center
    display: flex
    align-items: center
    justify-content: center

.questions
    margin-top: 12px
    margin-bottom: 12px

.confirm
    color: #fff
    line-height: 1.5
    margin-top: 12px
    h1
        font-size: 36px
    p
        font-weight: 300
        margin-bottom: 24px

@media(min-width: 768px)
    .questions
        margin-top: 100px

    .confirm
        margin-top: 100px
