label {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}
input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 12px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 24px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  outline: 0;
}
input[type=file] {
  margin-bottom: 12px;
}
textarea {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  resize: none;
  min-height: 120px;
  padding: 12px;
  margin-bottom: 12px;
  line-height: 1.5;
}
textarea:focus {
  outline: 0;
}
.form__group {
  margin-bottom: 24px;
}
.form__title {
  font-size: 16px;
  padding-bottom: 6px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ddd;
}
.form__helper {
  margin-bottom: 18px;
  display: block;
  color: #999;
  font-size: 13px;
}
.form__footer {
  padding-top: 24px;
}
.upload {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 24px;
}
.upload input[type=file] {
  position: absolute;
  left: -100%;
}
.btn {
  display: inline-block;
  appearance: none;
  border-radius: 4px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  background: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 0 48px;
  cursor: pointer;
}
.btn--primary {
  background: #4a90e2;
  color: #fff;
  box-shadow: 0 2px 0 rgba(0,0,0,0.8);
  border: 0;
}
.btn--block {
  display: block;
  width: 100%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background: #4a90e2;
  color: #555;
}
.landing {
  background: #4a90e2;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: #fff;
  text-decoration: underline;
}
.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a90e2;
}
.sub-header {
  background-color: #3483de;
  padding: 12px;
}
.badge {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -1px;
  text-transform: lowercase;
  text-decoration: none;
}
.badge span {
  color: rgba(255,255,255,0.5);
}
.badge--large {
  font-size: 48px;
}
.logo {
  font-family: 'Montserrat';
  text-transform: lowercase;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: -4px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.tagline {
  font-weight: 100;
  color: #fff;
  font-size: 32px;
}
.flat {
  margin: 0 !important;
}
.centered {
  text-align: center;
}
.action__btn {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 24px 0;
  display: block;
  text-shadow: 0 1px 0px rgba(0,0,0,0.4);
}
strong {
  font-weight: 500;
}
.container {
  padding: 0 12px;
  margin: 0 auto;
  max-width: 500px;
}
.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  overflow: hidden;
}
.card__body,
.card__slide {
  padding: 24px;
  position: relative;
}
.card__hd {
  background: #33567e;
  color: #fff;
}
.card__nav {
  list-style: none;
  margin: 0;
  overflow: hidden;
}
.card__nav li {
  width: 33.333333333%;
  float: left;
}
.card__nav a {
  text-align: center;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
  background-color: rgba(0,0,0,0.05);
  color: rgba(255,255,255,0.25);
  font-size: 13px;
}
.card__nav a.active {
  background: #fff;
  color: #333;
}
.card__title {
  font-size: 12px;
  margin-bottom: 12px;
  color: #bbb;
  font-weight: bold;
  text-transform: uppercase;
}
.card__option {
  border-bottom: 1px solid #ddd;
  margin-bottom: 24px;
}
.card__option:last-child {
  border: 0;
  margin: 0;
}
.slides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}
.slide.active {
  transform: translateX(-100%);
}
.slide__container {
  min-width: 420px;
}
.slide--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.questions {
  margin-top: 12px;
  margin-bottom: 12px;
}
.confirm {
  color: #fff;
  line-height: 1.5;
  margin-top: 12px;
}
.confirm h1 {
  font-size: 36px;
}
.confirm p {
  font-weight: 300;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .questions {
    margin-top: 100px;
  }
  .confirm {
    margin-top: 100px;
  }
}
